<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/jenkins-demo-application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1} [%t] %m%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/jenkins-demo-application-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <springProfile name="local,test">
        <root level="info">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gmail.apach.jenkins_demo" level="warn,debug,trace,error" additivity="false">
            <appender-ref ref="Console" />
        </logger>>
    </springProfile>
    <springProfile name="develop">
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gmail.apach.jenkins_demo" level="debug,trace,error" additivity="false">
            <appender-ref ref="Console" />
        </logger>>
    </springProfile>
    <springProfile name="staging">
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gmail.apach.jenkins_demo" level="debug,trace,error" additivity="false">
            <appender-ref ref="RollingFile" />
        </logger>
    </springProfile>
    <springProfile name="production">
        <root level="info">
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Console" />
        </root>
        <logger name="com.gmail.apach.jenkins_demo" level="debug,trace,error" additivity="false">
            <appender-ref ref="RollingFile" />
        </logger>
    </springProfile>

</configuration>